{
  "info": {
    "title": "Python Wiki API",
    "version": "1.0.0",
    "summary": "GitHub OAuth proxy powering Decap CMS for the Python Wiki.",
    "description": "Provides the OAuth handshake between Decap CMS (running in the browser) and GitHub, so editors can authenticate and commit changes to the wiki repository without exposing client secrets.\n\n## Endpoints\n\n| Path | Purpose |\n|---|---|\n| `GET /auth` | Redirects the user to GitHub's OAuth authorize page |\n| `GET /callback` | Exchanges the authorization code for an access token and posts it back to Decap CMS via `postMessage` |\n| `GET /_health/` | Health check for load balancers and uptime monitors |\n",
    "contact": {
      "name": "Python Software Foundation",
      "url": "https://www.python.org/psf/",
      "email": "psf@python.org"
    },
    "license": {
      "name": "MIT",
      "identifier": "MIT"
    }
  },
  "openapi": "3.1.0",
  "servers": [
    {
      "url": "https://api.wiki.python.org",
      "description": "Production"
    },
    {
      "url": "http://localhost:8000",
      "description": "Local development"
    }
  ],
  "paths": {
    "/_health": {
      "get": {
        "summary": "Health",
        "operationId": "HealthHealth",
        "responses": {
          "200": {
            "description": "Request fulfilled, document follows",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": {
                    "type": "string"
                  },
                  "type": "object"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/auth": {
      "get": {
        "summary": "Auth",
        "operationId": "AuthAuth",
        "parameters": [
          {
            "name": "provider",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "github"
            },
            "required": false,
            "deprecated": false,
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "name": "site_id",
            "in": "query",
            "schema": {
              "type": "string",
              "default": ""
            },
            "required": false,
            "deprecated": false,
            "allowEmptyValue": false,
            "allowReserved": false
          }
        ],
        "responses": {
          "200": {
            "description": "Redirect Response",
            "headers": {
              "location": {
                "schema": {
                  "type": "string"
                },
                "description": "target path for the redirect",
                "required": false,
                "deprecated": false
              }
            }
          },
          "400": {
            "description": "Bad request syntax or unsupported method",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "status_code": {
                      "type": "integer"
                    },
                    "detail": {
                      "type": "string"
                    },
                    "extra": {
                      "additionalProperties": {},
                      "type": [
                        "null",
                        "object",
                        "array"
                      ]
                    }
                  },
                  "type": "object",
                  "required": [
                    "detail",
                    "status_code"
                  ],
                  "description": "Validation Exception",
                  "examples": [
                    {
                      "status_code": 400,
                      "detail": "Bad Request",
                      "extra": {}
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/callback": {
      "get": {
        "summary": "Callback",
        "operationId": "CallbackCallback",
        "parameters": [
          {
            "name": "code",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": true,
            "deprecated": false,
            "allowEmptyValue": false,
            "allowReserved": false
          }
        ],
        "responses": {
          "200": {
            "description": "Request fulfilled, document follows",
            "headers": {}
          },
          "400": {
            "description": "Bad request syntax or unsupported method",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "status_code": {
                      "type": "integer"
                    },
                    "detail": {
                      "type": "string"
                    },
                    "extra": {
                      "additionalProperties": {},
                      "type": [
                        "null",
                        "object",
                        "array"
                      ]
                    }
                  },
                  "type": "object",
                  "required": [
                    "detail",
                    "status_code"
                  ],
                  "description": "Validation Exception",
                  "examples": [
                    {
                      "status_code": 400,
                      "detail": "Bad Request",
                      "extra": {}
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false
      }
    }
  },
  "components": {
    "schemas": {}
  },
  "externalDocs": {
    "url": "https://github.com/python/wiki",
    "description": "Python Wiki source repository"
  }
}
